<!-- FOOTER -->
<footer>

<div class="inner">
  <p>Последнее обновление {{ site.time | date_to_long_string }}. Приглашаем вас <a href="https://github.com/fontforge/designwithfontforge.com">добавить информацию</a> и улучшить <a class="editthispage" href="https://github.com/fontforge/designwithfontforge.com/blob/gh-pages{{ page.url | replace: '.html', '.md' }}" target="_blank">эту страницу</a>.</p>
  <p>&copy; 2012 - 2015, <a href="https://github.com/fontforge/designwithfontforge.com/blob/gh-pages/AUTHORS.txt">Авторы</a> The Design With FontForge.</p>
  <p>«<a href="//designwithfontforge.com"><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">FontForge: проектирование</span></a>» от <a xmlns:cc="http://creativecommons.org/ns#" href="http://designwithfontforge.com" property="cc:attributionName" rel="cc:attributionURL">сообщества FontForge</a> распространяется по лицензии <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.ru_RU">CC BY-SA 3.0</a>.
</div>

</footer>
