/* Some changes for correct Russian version */
body {
  font-family: 'PT Serif', serif;
}

#main-content h1, #main-content h2, h3, h4, h5, h6, #sidebar {
  font-family: 'PT Sans', sans-serif;
}

header {
  font-family: 'Tenor Sans', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 26px;
}

header h2 {
  text-transform: none;
}

a.button {
  font-family: 'Tenor Sans', 'Helvetica Neue', Helvetica, Arial, serif;
}

code, pre {
  font-family: 'PT Mono', monospace;
}

